@import "tailwindcss";

/* NAVBAR UTILITIES */
@utility nav-link {
  @apply px-1 sm:px-3 py-0.5 sm:py-1 text-cyan-600 text-[10px] sm:text-xs md:text-base  lg:text-lg rounded-lg
   hover:bg-cyan-700 hover:text-stone-50 cursor-pointer active:bg-cyan-800;
}
@utility side-bar-closed {
  @apply hidden;
}
@utility side-bar-open {
  @apply h-screen  absolute z-50 top-0 bg-stone-50 w-36 border border-r-stone-400 shadow-stone-700 shadow-xl;
}
@utility active {
  @apply font-bold pb-1 border-b-2 border-b-cyan-600;
}

/* NAVBAR MEDIA QUERIES */

@media screen and (max-width: 480px) {
  .nav-link {
    font-size: 12px;
  }
  .nav-list {
    display: none;
  }
  .hamburger {
    display: inline-block;
  }
}
@media screen and (max-width: 350px) {
  .nav-link {
    font-size: 12px;
  }
  .hamburger {
    font-size: 16px;
  }
  .login-btn {
    font-size: 10px;
    padding: 0;
    background-color: #fafaf9;
    color: oklch(60.9% 0.126 221.723);
  }
  .login-btn:hover {
    color: oklch(50.9% 0.126 221.723);
  }
}

@media screen and (max-width: 468px) {
  .about-hero {
    flex-direction: column;
    align-items: center;
  }
}
